@use "scss/abstracts/variables" as *;
@use "scss/abstracts/mixins" as *;

.destination-pg {
  display: block;
  text-align: center;
  padding-inline: 1rem;

  h1,
  h2,
  h3,
  .btn {
    font-weight: 400;
    text-transform: uppercase;
  }
  h1 {
    @include page-heading-1();
  }
  picture {
    aspect-ratio: 1;
    width: clamp(8.25rem, 45vw, 14.5rem);
    margin-block: 5vh;
    display: inline-grid;
    place-items: center;
  }
  nav {
    @include flex(center, space-around);
    margin-bottom: 0.75rem;
  }
  .btn {
    @include grey-barlow-condensed-text();
    font-size: 0.875rem;
    letter-spacing: $sm-xter-space;
    @include link-active(0.5rem);

    &.active {
      @include white-barlow-condensed-text();
      font-size: 0.875rem;
    }
  }
  .text-content {
    h2 {
      font-size: clamp(3rem, 15vw, 3.5rem);
    }
    .description {
      padding-bottom: 5vh;
      margin-bottom: 5vh;
      border-bottom: 1px solid hsl(231, 77%, 90%, 0.25);
    }
    .dist-and-time {
      @include flex(center, space-between, column);
      gap: 1.5rem;

      h3 {
        font-size: 0.875rem;
        letter-spacing: $sm-xter-space;
      }

      p {
        @include white-bellefair-text(1.75rem);
        text-transform: uppercase;
      }
    }
  }
}

/*== SMALL SCREEN MOBILE DEVICES ==*/
@media (max-width: 300px) {
}
/*== REGULAR MOBILE DEVICES ==*/
@media (max-width: 480px) {
  .destination-pg {
    padding-bottom: 7.5vh;
  }
}

/*== TABLETS & DESKTOP DEVICES ==*/
@media (min-width: 481px) {
  .destination-pg {
    h1 {
      text-align: left;
      font-size: 1.25rem;
    }

    .text-content {
      .dist-and-time {
        @include flex();
        width: 60%;
        margin-inline: auto;
      }
    }
  }
}

/*== TABLETS ONLY ==*/
@media (min-width: 481px) and (max-width: 768px) {
  .destination-pg {
    padding-inline: 1.5rem;

    picture {
      width: clamp(15rem, 50vw, 18rem);
    }

    nav {
      max-width: 50vw;
      margin-inline: auto;
      margin-bottom: 0.5rem;

      .btn,
      .btn.active {
        font-size: 1rem;
      }
    }
    .text-content {
      h2 {
        font-size: clamp(4.5rem, 15vw, 5.5rem);
      }

      .description {
        max-width: 75%;
        margin-inline: auto;
      }
    }
  }
}

/*== ALL LAPTOP/DESKTOP COMPUTERS ==*/
@media (min-width: 769px) {
  .destination-pg {
    @include flex(flex-start, space-between, column);
    padding-inline: 0;
    padding: 0 10vw 10vh 10vw;
    height: 78.5vh;
    article {
      @include flex(center, space-between);
      padding-left: 10vw;
      // border: 2px solid red;
      width: 100%;
      margin-inline: auto;
    }
    picture {
      width: clamp(20rem, 30vw, 22.5rem);
      // display: inline-flex;
      align-self: center;
    }
    .destination-content {
      max-width: 30vw;
      nav {
        @include flex(center, flex-start);

        button {
          margin-right: 2.5vw;
        }
      }
    }
    .text-content {
      text-align: left;

      h2 {
        font-size: clamp(6rem, 10vw, 6.25rem);
      }

      .description {
        margin-bottom: 2.5vh;
        font-size: 1.125rem;
      }
      .dist-and-time {
        // border: 2px solid yellowgreen;
        @include flex(center, flex-start);
        width: 100%;
        row-gap: 5rem;

        div:nth-of-type(1) {
          margin-right: 2.5vw;
        }
        p {
          font-size: $sm-heading;
        }
      }
    }
  }
}
