@use "scss/abstracts/variables" as *;
@use "scss/abstracts/mixins" as *;

.technology-pg {
  min-height: 87.5vh;
  // @include flex(center, space-between, column);
  display: block;
  // border: 1px solid red;
  text-align: center;

  h1,
  picture,
  h2,
  .btn {
    text-transform: uppercase;
    margin-bottom: 3.5vh;
    font-weight: 400;
  }
  h1 {
    @include page-heading-1();
    font-size: 1rem;
  }

  article {
    picture {
      width: 100%;
    }

    nav {
      @include flex(center, center);
      column-gap: 3.5vw;

      .btn {
        background: transparent;
        aspect-ratio: 1/1;
        width: 2.5rem;
        border-radius: 100%;
        color: $white;
        border: 1px solid $tinted-grey-dark;

        &.active {
          background: $white;
          color: $black;
        }
      }
    }

    .technology-content {
      padding-inline: 1rem;
      h3 {
        font-size: 0.95rem;
        font-weight: 400;
        text-transform: uppercase;
      }

      h2 {
        font-size: 1.5rem;
      }

      p {
        font-size: 0.95rem;
      }
    }
  }
}

/*== REGULAR MOBILE DEVICES ==*/
@media (max-width: 480px) {
}

/*== TABLETS & DESKTOP DEVICES ==*/
@media (min-width: 481px) {
  .technology-pg {
    h1 {
      text-align: left;
      font-size: clamp(1rem, 10vw, 1.25rem);
    }
    .btn {
      width: clamp(3rem, 10vw, 3.75rem);
    }
  }
}

/*== TABLETS ONLY ==*/
@media (min-width: 481px) and (max-width: 768px) {
  .technology-pg {
    .technology-content {
      h3 {
        font-size: 1rem;
      }
      h2 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1rem;
        width: 75%;
        margin: auto;
      }
    }
  }
}

/*== ALL LAPTOP/DESKTOP COMPUTERS ==*/
@media (min-width: 769px) {
  .technology-pg {
    min-height: 85vh;

    .technology-content {
      h3 {
      }
      h2 {
      }
      p {
      }
    }
  }
}
