@use "scss/abstracts/variables" as *;
@use "scss/abstracts/mixins" as *;

.technology-pg {
  min-height: 87.5vh;
  display: block;
  // border: 1px solid red;
  text-align: center;

  h1,
  picture,
  h2,
  .btn {
    text-transform: uppercase;
    font-weight: 400;
  }
  h1 {
    @include page-heading-1();
    font-size: 1rem;
  }

  article {
    nav {
      @include flex(center, center);
      column-gap: 3.5vw;

      .btn {
        @include white-bellefair-text();
        background: transparent;
        aspect-ratio: 1/1;
        width: 2.5rem;
        border-radius: 100%;
        color: $white;
        border: 1px solid $tinted-grey-dark;
        transition: all 0.5s;

        &:hover {
          border: 1px solid $white;
        }

        &.active {
          background: $white;
          color: $black;
        }
      }
    }

    .technology-content {
      padding-inline: 1rem;
      h3 {
        font-size: 0.95rem;
        font-weight: 400;
        text-transform: uppercase;
      }

      h2 {
        font-size: 1.5rem;
      }

      p {
        font-size: 0.95rem;
      }
    }
  }
}

/*== REGULAR MOBILE DEVICES ==*/
@media (max-width: 480px) {
  .technology-pg {
    h1,
    picture,
    h2,
    .btn {
      margin-bottom: 3.5vh;
    }
  }
}

/*== TABLETS & DESKTOP DEVICES ==*/
@media (min-width: 481px) {
  .technology-pg {
    h1 {
      text-align: left;
      font-size: clamp(1rem, 10vw, 1.25rem);
    }
    .btn {
      width: clamp(3rem, 10vw, 3.75rem);
    }

    .technology-content {
      h3 {
        font-size: 1rem;
      }
    }
  }
}

/*== TABLETS ONLY ==*/
@media (min-width: 481px) and (max-width: 768px) {
  .technology-pg {
    h1,
    picture,
    h2,
    .btn {
      margin-bottom: 3.5vh;
    }

    .btn {
      width: clamp(3.5rem, 10vw, 4rem);
    }
    .technology-content {
      // width: 30vw;
      h2 {
        font-size: clamp(2rem, 10vw, 2.5rem);
      }
      p {
        font-size: 1rem;
        width: 75%;
        margin: auto;
      }
    }
  }
}

/*== ALL LAPTOP/DESKTOP COMPUTERS ==*/
@media (min-width: 769px) {
  .technology-pg {
    min-height: 85vh;
    padding: 0 0 0 10vw;
    width: 100%;

    h1 {
      font-size: clamp(1rem, 10vw, 1.75rem);
    }
    article {
      @include flex(center, space-between, row-reverse);
      // border: 2px solid yellow;
      // position: relative;

      .technology-wrapper {
        @include flex(center, space-between, row);
        column-gap: 4vw;
        // border: 2px solid red;

        .btn {
          font-size: 2rem;
          width: clamp(4rem, 5vh, 5rem);
        }

        picture {
          position: absolute;
          right: 0;
        }

        nav {
          @include flex(center, space-between, column);
          row-gap: 3.5vh;
        }
        .technology-content {
          text-align: left;
          h3 {
            font-size: 1rem;
          }
          h2 {
            font-size: clamp(3rem, 15vw, 3.5rem);
          }
          p {
            font-size: 1.125rem;
            max-width: 30vw;
          }
        }
      }
    }
  }
}
