@use "scss/abstracts/variables" as *;
@use "scss/abstracts/mixins" as *;

.error {
  text-align: center;
  @include flex(center, center, column);

  h1,
  h2 {
    font-size: clamp(1rem, 5vw, 2rem);
    font-weight: 400;
  }

  .link {
    @include grey-barlow-condensed-text();
    font-size: clamp(0.875rem, 5vw, 1.5rem);
    letter-spacing: $sm-xter-space;
    @include link-active();
  }
}
