@mixin flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
$navy-blue: #17395c;
$medium-text: 1rem;
$grey: #828282;
$light-grey: #cacaca;

nav {
  height: 10vh;
  @include flex;
  padding-block: 1.5rem;
  padding-inline: 1.5rem 3rem;
  border-bottom: 1px solid $light-grey;

  .logo-and-brand {
    @include flex;
    gap: 1rem;

    & img {
      cursor: pointer;
    }

    p {
      font-size: $medium-text;
      color: $navy-blue;
      font-weight: 600;
    }
  }

  .user-profile {
    @include flex;
    gap: 1rem;

    & img {
      cursor: pointer;
    }
  }

  .user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(138, 157, 219);
    margin-left: 1rem;
    border: 2px solid #ddd;
    & img {
      width: 100%;
    }
  }
}
