@use "scss/abstracts/variables" as *;
@use "scss/abstracts/mixins" as *;

.navbar {
  @include flex();
  height: 15vh;
  position: sticky;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  // border: 0.5px solid red;
  transition: all 0.35s ease-out;

  img {
    aspect-ratio: 1;
    width: 100%;
  }

  .logo {
    width: clamp(2.5rem, 15vw, 3rem);
    aspect-ratio: 1/1;
    top: 1.5rem;
    left: 1.5rem;
    // border: 2px solid red;
  }

.overlay{
  // border: 2px solid red;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 10;
  background-color: $black;
  opacity: 0.25;
  transition: opacity 0.25s ease-in-out;
  display: none;

  &.show{
  display: block;
  }
}


  .menu-btn {
    width: clamp(1.5rem, 10vw, 2rem);
    aspect-ratio: 1/1;
    transition: all 0.5s;
    z-index: 50;
    top: 1.9rem;
    right: 1.5rem;
    // border: 2px solid red;
    .hide {
      display: none;
    }
    .show {
      display: block;
    }
  }

  .nav__links {
    @include flex(flex-start, flex-start, column);
    background-color: $tinted-black-dark;
    z-index: 20;
    // border: 2px solid red;
  }

  @supports (backdrop-filter: blur(2.5rem)) or (-webkit-backdrop-filter: blur(2.5rem)) {
    .nav__links {
      background-color: $tinted-white-dark;
      backdrop-filter: blur(2.5rem);
      -webkit-backdrop-filter: blur(2.5rem);
    }
  }

  .link {
    @include white-barlow-condensed-text();
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: $md-xter-space;
    text-align: left;
    width: 100%;

    span:nth-of-type(1) {
      margin-right: 0.5rem;
      font-weight: 700;
      width: 1.5rem;
      // border: 1px solid red;
    }
  }
}
//==============================//
//==============================//


/*== MOBILE DEVICES ==*/
@media (max-width: 480px) {
  .navbar {
    height: 12.5vh;
    padding: 1.5rem;
  }

  .nav__links {
    position: fixed;
    height: 100vh;
    inset: 0 0 0 30%;
    padding-top: clamp(5rem, 15vh, 7.5rem);
    transform: translateX(120%);
    transition: transform 0.35s ease-out;
    // border: 2px solid red;

    &.show {
      transform: translateX(0%);
    }
  }
  .link {
    line-height: 2.5;
    margin-bottom: 0.75rem;

    &.active {
      border-right: 4px solid $white;
    }

    span:nth-of-type(1) {
      display: inline-flex;
      margin-inline: clamp(2rem, 5vw, 3rem) 0.25rem;
    }
  }
}

/*== TABLETS & DESKTOP DEVICES ==*/
@media (min-width: 481px) {
  .navbar {
    .menu-btn {
      display: none;
    }

    .nav__links {
      @include flex(center, flex-start);
      padding-top: 1rem;
    }

    .link {
      line-height: 2.5;
      transition: all 0.5s;
      @include link-active();
    }
  }
}

/*== TABLETS ONLY ==*/
@media (min-width: 481px) and (max-width: 768px) {
  .navbar {
    height: 12.5vh;

    .logo {
      position: absolute;
      top: 0.8rem;
      // border: 1px solid white;
    }

    .nav__links {
      padding-inline: clamp(0.75rem, 3.5vw, 1rem);
      position: absolute;
      top: 0;
      right: 0;
    }

    .link {
      margin-inline: clamp(0.75rem, 3.5vw, 1rem);
    }
    span:nth-of-type(1) {
      display: none;
      // border: 2px solid red;
    }
  }
}

/*== ALL LAPTOP/DESKTOP COMPUTERS ==*/
@media (min-width: 769px) {
  .navbar {
    .logo {
      position: fixed;
      top: 2rem;
      left: 2rem;
      margin-right: 2rem;
    }
    .nav__links {
      // border: 1px solid red;
      padding-inline: 5vw 8vw;
      position: fixed;
      top: 1rem;
      right: 0;

      &::before {
        content: "";
        background: $tinted-white-light;
        display: flex;
        align-items: center;
        height: 0.5px;
        margin-top: 1rem;
        position: absolute;
        right: 95%;
        top: 30%;
        vertical-align: middle;
        width: 65%;
      }
    }
    .link {
      margin-inline: 2vw;
      // border: 2px solid red;
    }
  }
}
