@use "scss/abstracts/variables" as *;
@use "scss/abstracts/mixins" as *;

.navbar {
  @include flex();
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  // border: 2px solid red;

  .logo {
    width: 3rem;
    aspect-ratio: 1/1;
  }

  .menu-btn {
    width: 2rem;
    aspect-ratio: 1/1;
    // border: 2px solid red;
    transition: all 0.5s;
    position: relative;
    z-index: 50;

    .hide {
      display: none;
    }
    .show {
      display: block;
    }
  }

  .nav__links {
    @include flex(flex-start, flex-start, column);
    background-color: $tinted-black-dark;
    position: fixed;
    z-index: 20;
    height: 100vh;
    inset: 0 0 0 30%;
    padding: 5rem 0 0 0;
    transform: translateX(120%);
    transition: transform 0.5s ease-out;
    // border: 2px solid red;
  }

  @supports (backdrop-filter: blur(2.5rem)) {
    .nav__links {
      background-color: $tinted-white-dark;
      backdrop-filter: blur(2.5rem);
    }
  }

  .nav__links.show {
    transform: translateX(0%);
  }
  .link {
    @include white-barlow-text();
    @include flex(center, flex-start);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: $md-xter-space;
    width: 100%;
    line-height: 3.5;

    &:hover {
      background: tomato;
    }

    span:nth-of-type(1) {
      margin-inline: clamp(2rem, 5vw, 3rem) 0.25rem;
      font-weight: 700;

      width: 1.5rem;
      // border: 2px solid red;
    }
  }

  .active {
    color: red;
  }
}
//==============================//
//==============================//

/*== SMALL SCREEN MOBILE DEVICES ==*/
@media (max-width: 300px) {
}
/*== REGULAR MOBILE DEVICES ==*/
@media (max-width: 480px) {
}

/*== TABLETS & MOBILE DEVICES ==*/
@media (max-width: 768px) {
}

/*== TABLETS ONLY ==*/
@media (min-width: 481px) and (max-width: 768px) {
  .navbar {
    .nav__links {
      @include flex(center, space-between);
    }
    .menu-btn {
      display: none;
    }
    .nav__links {
      transform: translateX(0%);
      height: 10vh;
    }
  }
}

/*== ALL LAPTOP/DESKTOP COMPUTERS ==*/
@media (min-width: 769px) {
}

/*== LARGE SCREEN COMPUTERS ONLY ==*/
@media (min-width: 1024px) {
}
// .navbar {
//   .nav__links {
//     background-color: $tinted-white-light;
//     display: flex;
//     padding-top: 1.25rem;
//     padding-right: clamp(0.5rem, 7.5vw, 7.5rem);
//     padding-bottom: 0;
//     padding-left: min(3vw, 0.5rem);
//     border: 2px solid blue;
//   }

//   @supports (backdrop-filter: blur(2.5rem)) {
//     .nav__links {
//       background-color: $tinted-white-light;
//       backdrop-filter: blur(2.5rem);
//     }
//   }
//   .nav__links li {
//     margin-inline: clamp(1rem, 3vw, 2rem);
//   }

//   .nav__links a {
//     padding: 1.5rem 0;
//     color: $grey;
//   }
//   .nav__menu {
//     display: none;
//   }
// }

// /*== SMALL SCREEN MOBILE DEVICES ==*/
// @media (max-width: 300px) {
// }

// /*== REGULAR MOBILE DEVICES ==*/
// @media (max-width: 480px) {
//   .nav__links {
//     position: fixed;
//     z-index: 100;
//     height: 100vh;
//     inset: 0 0 0 30%;
//     display: flex;
//     flex-direction: column;
//     padding: min(30vh, 7.5rem) 0;
//     transform: translateX(120%);
//     transition: transform 0.5s ease-out;
//   }
//   .nav__links.display {
//     transform: translateX(0%);
//   }
//   .nav__links li {
//     display: inline-block;
//     width: 100%;
//     margin-bottom: 0.5rem;
//   }
//   .nav__links span {
//     margin-right: 0.5rem;
//   }
//   .nav__links a {
//     display: flex;
//     padding-left: 2rem;
//     padding-right: 100%;
//     padding-block: 0.75rem;
//   }
//   .nav__links a:hover {
//     background-color: red;
//   }
//   .nav__menu {
//     display: flex;
//     position: absolute;
//     z-index: 200;
//     right: 2rem;
//     aspect-ratio: 1;
//     width: 1.5rem;
//     cursor: pointer;
//     background-image: url(./assets/shared/icon-hamburger.svg);
//     background-color: transparent;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     border: none;
//   }
//   .nav__menu.display {
//     background-image: url(./assets/shared/icon-close.svg);
//   }
// }

// /*== TABLETS & MOBILE DEVICES ==*/
// @media (max-width: 768px) {
// }

// /*== TABLETS ONLY ==*/
// @media (min-width: 481px) and (max-width: 768px) {
//   .nav__links li::after {
//     content: "";
//     display: block;
//     width: 0;
//     margin: 1.25rem auto 0 auto;
//     height: 3px;
//     background-color: $tinted-white-light;
//     transition: 0.35s ease-out;
//   }
//   .nav__links li.active::after {
//     background-color: $white;
//     width: 100%;
//   }
//   .nav__links li:hover::after {
//     width: 100%;
//   }
//   .nav__links a > span {
//     display: none;
//   }
// }

// /*== ALL LAPTOP/DESKTOP COMPUTERS ==*/
// @media (min-width: 768px) {
//   .nav__links li::after {
//     content: "";
//     display: block;
//     width: 0;
//     margin: 1.25rem auto 0 auto;
//     height: 3px;
//     background-color: $tinted-white-light;
//     transition: 0.35s ease-out;
//   }
//   .nav__links li.active::after {
//     background-color: $white;
//     width: 100%;
//   }
//   .nav__links li:hover::after {
//     width: 100%;
//   }
//   .nav__links::before {
//     content: "";
//     background: $grey;
//     display: flex;
//     align-items: center;
//     height: 1px;
//     margin-top: 1rem;
//     position: absolute;
//     left: -45%;
//     top: 22%;
//     vertical-align: middle;
//     width: 20rem;
//   }
// }
