@use "scss/abstracts/variables" as *;
@use "scss/abstracts/mixins" as *;

.crew-pg {
  // border: 1px solid blue;
  min-height: 85vh;
  display: block;
  padding-inline: 1rem;
  text-align: center;

  h1,
  h2,
  h4 {
    font-weight: 400;
    text-transform: uppercase;
  }

  h1 {
    @include page-heading-1();
    font-size: 1rem;
  }

  picture {
    width: 55%;
    aspect-ratio: 1/1.5;
    padding-top: 4vh;
    margin-inline: auto;
  }
  img {
    width: 100%;
    height: 100%;
  }

  article {
    padding-top: 4vh;
    border-top: 1px solid hsl(231, 77%, 90%, 0.25);

    nav {
      @include flex(center, center);
      column-gap: 4vw;
      margin-bottom: 4vh;

      .btn {
        // background: $tinted-white-dark;
        background: $tinted-grey-dark;
        aspect-ratio: 1/1;
        width: 0.75rem;
        border-radius: 100%;

        &:hover {
          background: $tinted-white-light;
        }
        &.active {
          background: $white;
        }
      }
    }

    h4 {
      @include tinted-white-bellefair-text(1rem);
    }

    h2 {
      margin-bottom: 2.5vh;
    }
    .crew-member {
      font-size: 0.9rem;
    }
  }
}

/*== TABLETS & DESKTOP DEVICES ==*/
@media (min-width: 481px) {
  .crew-pg {
    // margin-top: auto;
    h1 {
      text-align: left;
    }

    .crew-wrapper {
      @include flex(center, space-between, column-reverse);
    }
    article {
      border-top: none;
      @include flex(center, space-between, column-reverse);
    }
    picture {
      bottom: 0;
    }
  }
}

/*== TABLETS ONLY ==*/
@media (min-width: 481px) and (max-width: 768px) {
  .crew-pg {
    padding-inline: 1.5rem;
  }

  .crew-wrapper {
    picture {
      position: absolute;
      bottom: 0;
      left: 50;
      width: 55vw;
      aspect-ratio: 1/1.15;
      // border: 2px solid yellowgreen;
      padding-top: 0;
    }

    nav {
      position: relative;
      z-index: 10;
    }
  }

  .crew-member {
    max-width: 75vw;
    margin-bottom: 4vh;
  }
}

/*== LAPTOPS & DESKTOP ONLY ==*/
@media (min-width: 769px) {
  .crew-pg {
    padding: 0 10vw 0 10vw;

    h1 {
      font-size: 1.75rem;
    }
    .crew-wrapper {
      @include flex(center, space-between, row-reverse);
      // border: 2px solid yellowgreen;
      height: 80vh;
      position: relative;

      picture {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0;
        margin: 0;
        width: 35vw;
        aspect-ratio: 1/1.25;
      }

      .crew-member {
        @include flex(flex-start, space-between, column);
        width: 50vw;
        margin-bottom: 4vh;
        // border: 2px solid green;
        position: absolute;
        top: 30%;
        left: 0;
        h4 {
          font-size: 2rem;
        }

        h2 {
          text-align: left;
          font-size: clamp(3rem, 15vw, 3.5rem);
        }

        p {
          font-size: 1.125rem;
          text-align: left;
          max-width: 30vw;
        }
      }
      article {
        nav {
          @include flex(center, flex-start, row);
          column-gap: 2vw;
          width: 100%;
          position: absolute;
          bottom: 5vh;
          left: 0;

          .btn {
            // border: 0.5px solid yellowgreen;
            width: 0.95rem;
          }
        }
      }
    }
  }
}
