@use "scss/abstracts/variables" as *;
//*== Mixins ==*//
@mixin flex(
  $align-items: center,
  $justify-content: space-between,
  $flex-direction: unset
) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}

@mixin bg-image($img-url) {
  background-image: url($img-url);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  min-height: 100vh;
}

@mixin link-active($margin-top: 0.9rem) {
  &::after {
    content: "";
    display: block;
    width: 0;
    margin: $margin-top auto 0 auto;
    height: 3px;
    background-color: $tinted-white-light;
    transition: 0.35s ease-out;
  }
  &.active::after {
    background-color: $white;
    width: 100%;
  }
  &:hover::after {
    width: 100%;
  }
}

@mixin page-heading-1() {
  @include white-barlow-condensed-text();
  letter-spacing: $md-xter-space;

  span:nth-of-type(1) {
    color: $tinted-white-light;
  }
}

@mixin white-barlow-text($font-size: inherit) {
  font-family: $barlow;
  font-size: $font-size;
  color: $white;
}
@mixin tinted-white-barlow-text($font-size: inherit) {
  font-family: $barlow;
  font-size: $font-size;
  color: $white;
}
@mixin black-barlow-text($font-size: inherit) {
  font-family: $barlow;
  font-size: $font-size;
  color: $tinted-black-dark;
}
@mixin grey-barlow-text($font-size: inherit) {
  font-family: $barlow;
  font-size: $font-size;
  color: $grey;
}
@mixin white-barlow-condensed-text($font-size: inherit) {
  font-family: $barlow-condensed;
  font-size: $font-size;
  color: $white;
}
@mixin black-barlow-condensed-text($font-size: inherit) {
  font-family: $barlow-condensed;
  font-size: $font-size;
  color: $tinted-black-dark;
}
@mixin grey-barlow-condensed-text($font-size: inherit) {
  font-family: $barlow-condensed;
  font-size: $font-size;
  color: $grey;
}
@mixin white-bellefair-text($font-size: inherit) {
  font-family: $bellefair;
  font-size: $font-size;
  color: $white;
}
@mixin tinted-white-bellefair-text($font-size: inherit) {
  font-family: $bellefair;
  font-size: $font-size;
  color: $tinted-white-light;
}
@mixin black-bellefair-text($font-size: inherit) {
  font-family: $bellefair;
  font-size: $font-size;
  color: $tinted-black-dark;
}
@mixin grey-bellefair-text($font-size: inherit) {
  font-family: $bellefair;
  font-size: $font-size;
  color: $grey;
}
