//*=== Colors ===*//
$black: hsl(230, 35%, 7%);
$grey: hsl(231, 77%, 90%);
$white: hsl(0, 0%, 100%);
$tinted-white-dark: hsla(0, 0%, 100%, 0.05);
$tinted-white-light: hsla(0, 0%, 100%, 0.5);
$tinted-black-dark: hsl(230, 35%, 7%, 0.75);
$tinted-black-light: hsl(230, 35%, 7%, 0.1);
$tinted-grey-dark: hsl(231, 77%, 90%, 0.75);

/*== Font Size ==*/
$xxl-heading: 9.375rem;
$xl-heading: 6.25rem;
$lg-heading: 3.5rem;
$md-heading: 2rem;
$sm-heading: 1.75rem;
$lg-body-text: 1rem;
$md-body-text: 0.875rem;
$lg-xter-space: 0.3rem;
$md-xter-space: 0.17rem;
$sm-xter-space: 0.15rem;

/*== Font Family ==*/
$barlow-condensed: "Barlow Condensed", sans-serif;
$bellefair: "Bellefair", serif;
