@use "scss/abstracts/variables" as *;
@use "scss/abstracts/mixins" as *;

.homepage {
  position: relative;
  border: 1px solid yellow;
  height: 85vh;
}
/*== SMALL SCREEN MOBILE DEVICES ==*/
@media (max-width: 300px) {
}
/*== REGULAR MOBILE DEVICES ==*/
@media (max-width: 480px) {
}

/*== TABLETS & MOBILE DEVICES ==*/
@media (max-width: 768px) {
}

/*== TABLETS ONLY ==*/
@media (min-width: 481px) and (max-width: 768px) {
  .homepage {
  }
}

/*== ALL LAPTOP/DESKTOP COMPUTERS ==*/
@media (min-width: 769px) {
  .homepage {
  }
}

/*== LARGE SCREEN COMPUTERS ONLY ==*/
@media (min-width: 1024px) {
}
